@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-Bold.ttf') format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-BlackItalic.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-ExtraBold.ttf') format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-ExtraBoldItalic.ttf') format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-SemiBoldItalic.ttf') format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-SemiBold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-MediumItalic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-Medium.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-Italic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-Regular.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: InterTight;
  src: url('../fonts/InterTight-Light.ttf') format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

:root {
  --color--c1: #000;
  --s5-white\<deleted\|variable-8f10cdec\>: white;
  --primary-color-01--p1-10\<deleted\|variable-119de0b6\>: #0000001a;
  --color--c2: white;
  --color--c3: #f24913;
  --color--c1-75: #000000bf;
  --color--c1-04: #0000000a;
  --padding--pd-07: 2rem;
  --padding--pd-06: 1.5rem;
  --padding--pd-04: 1rem;
  --padding--pd-11: 6rem;
  --padding--pd-10: 4rem;
  --color--c2-80: #fffc;
  --color--c2-60: #fff9;
  --padding--pd-02: .5rem;
  --color--c1-10: #0000001a;
  --padding--pd-09: 3rem;
  --color--c1-40: #0006;
  --color--c2-20: #fff3;
  --padding--pd-15: 15rem;
  --padding--pd-14: 12rem;
  --padding--pd-13: 10rem;
  --padding--pd-12: 8rem;
  --padding--pd-08: 2.5rem;
  --padding--pd-05: 1.25rem;
  --padding--pd-03: .75rem;
  --padding--pd-01: .25rem;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: var(--color--c1);
  font-family: InterTight, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
}

h1 {
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
}

h2 {
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 600;
  line-height: 115%;
}

h3 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
}

h4 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 125%;
}

h5 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
}

h6 {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
}

p {
  margin-bottom: 0;
}

a {
  color: var(--color--c1);
  text-decoration: none;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

img {
  max-width: 100%;
  display: inline-block;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  text-align: center;
  margin-top: 5px;
}

.internal-top {
  z-index: 20;
  background-color: var(--s5-white\<deleted\|variable-8f10cdec\>);
  border-bottom: 1px solid #0000001a;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.internal-side {
  z-index: 10;
  background-color: #fafafa;
  border-right: 1px solid #0000001a;
  flex-direction: column;
  justify-content: space-between;
  width: 240px;
  height: 100vh;
  padding-top: 64px;
  display: flex;
  position: sticky;
  top: 0;
}

.internal-main {
  background-color: #fafafa;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 64px;
  display: flex;
}

.internal-main.is-full {
  min-height: 100vh;
}

.internal-bottom {
  background-color: var(--s5-white\<deleted\|variable-8f10cdec\>);
  border-top: 1px solid #0000001a;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.page-wrapper {
  flex-flow: column;
  min-height: 100vh;
  display: flex;
}

.internal-side__item {
  border-bottom: 1px solid var(--primary-color-01--p1-10\<deleted\|variable-119de0b6\>);
  align-items: center;
  width: 100%;
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.internal-bottom-info {
  color: var(--color--c1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  text-decoration: none;
}

.internal-bottom-info.w--current {
  color: var(--color--c1);
}

.internal-side__bottom {
  background-color: var(--s5-white\<deleted\|variable-8f10cdec\>);
  border-top: 1px solid #0000001a;
  align-items: center;
  width: 100%;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

.internal-info-link {
  color: #124bdb;
  font-weight: 600;
  text-decoration: none;
}

.internal-flex {
  display: flex;
}

.internal-content {
  grid-row-gap: 64px;
  flex-direction: column;
  width: 100%;
  max-width: 816px;
  padding: 64px 24px;
  display: flex;
}

.internal-bottom__links {
  grid-column-gap: 16px;
  align-items: center;
  display: flex;
}

.internal-note {
  background-color: #e7effc;
  border: 1px solid #a7bde0;
  border-radius: 4px;
  padding: 24px;
}

.internal-group {
  grid-row-gap: 32px;
  flex-direction: column;
  display: flex;
}

.internal-group__title {
  border-bottom: 1px solid #0000001a;
  padding-bottom: 12px;
}

.internal-cards {
  grid-row-gap: 8px;
  flex-direction: column;
  margin-top: 12px;
  display: flex;
}

.internal-cards.for-colors {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.internal-card {
  background-color: #fff;
  border: 1px solid #0000001a;
}

.internal-card__main {
  padding: 48px;
}

.internal-card__tags {
  grid-column-gap: 4px;
  border-top: 1px solid #0000001a;
  flex-direction: row;
  min-height: 40px;
  padding: 12px;
  display: flex;
}

.internal-class {
  background-color: #e7effc;
  border-radius: 100px;
  align-items: center;
  min-height: 16px;
  padding: 4px 8px;
  display: flex;
}

.internal-class__name {
  color: #002e73;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 9px;
  font-weight: 600;
  line-height: 100%;
}

.internal-color {
  border: 1px solid #0000001a;
  width: 100%;
  height: 112px;
}

.internal-color.c2 {
  background-color: var(--color--c2);
}

.internal-color.c1 {
  background-color: var(--color--c1);
  border-color: #0000001a;
}

.internal-color.c3 {
  background-color: var(--color--c3);
}

.heading-huge {
  letter-spacing: -1px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 100%;
}

.heading-huge.c2 {
  color: var(--color--c2);
  text-align: center;
}

.heading-xlarge {
  letter-spacing: -1px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 115%;
}

.heading-large {
  letter-spacing: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 120%;
}

.heading-medium {
  text-align: center;
  letter-spacing: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 125%;
}

.heading-small {
  letter-spacing: 0;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%;
}

.heading-small.c3 {
  color: var(--color--c3);
}

.heading-tiny {
  letter-spacing: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 125%;
}

.rich-text p {
  color: var(--color--c1-75);
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 175%;
}

.rich-text h2 {
  letter-spacing: 0;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}

.rich-text h3 {
  letter-spacing: 0;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 125%;
}

.rich-text figcaption {
  margin-top: .5rem;
  font-size: .75rem;
  line-height: 150%;
}

.rich-text figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.rich-text h5 {
  letter-spacing: 0;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 125%;
}

.rich-text h6 {
  letter-spacing: 0;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 800;
  line-height: 125%;
}

.rich-text ul, .rich-text ol {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  color: var(--color--c1-75);
  flex-flow: column;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding-left: 2rem;
  font-size: 1rem;
  line-height: 175%;
  display: flex;
}

.rich-text blockquote {
  background-color: var(--color--c1-04);
  border-left-style: none;
  border-left-width: 0;
  border-radius: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 135%;
}

.rich-text h4 {
  letter-spacing: 0;
  margin-top: 2rem;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 125%;
}

.rich-text h1 {
  letter-spacing: 0;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
}

.rich-text.for-legal {
  margin-top: 3rem;
}

.rich-text strong {
  color: var(--color--c1);
  font-weight: 600;
}

.rich-text em {
  color: var(--color--c1);
}

.rich-text a {
  color: var(--color--c3);
}

.rich-text a:hover {
  text-decoration: underline;
}

.header {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.open-nav {
  z-index: 10;
  padding-left: var(--padding--pd-06);
  justify-content: flex-start;
  align-items: center;
  max-width: 90rem;
  height: 6rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.container {
  padding-right: var(--padding--pd-06);
  padding-left: var(--padding--pd-06);
  width: 100%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.sections {
  flex: 1;
}

.sections.top-padding {
  padding-top: var(--padding--pd-11);
}

.text-huge {
  letter-spacing: -1px;
  font-size: 3rem;
  line-height: 115%;
}

.text-huge.for-card-a {
  color: var(--color--c2);
  font-weight: 700;
}

.text-huge.semi-bold {
  font-weight: 600;
}

.text-huge.for-card-c {
  color: var(--color--c3);
  font-weight: 600;
}

.text-huge.overview__card {
  font-size: 1.5rem;
}

.text-xlarge {
  font-size: 1.5rem;
  line-height: 135%;
}

.text-xlarge.c1-75 {
  color: var(--color--c1-75);
}

.text-large {
  margin-top: 0;
  font-size: 1.25rem;
  line-height: 150%;
}

.text-large.c2 {
  color: var(--color--c2);
}

.text-large.under-construction {
  text-align: center;
}

.text-regular {
  font-size: 1rem;
  line-height: 150%;
}

.text-regular.c2-80 {
  color: var(--color--c2-80);
}

.text-regular.c1-75 {
  color: var(--color--c1-75);
}

.text-regular.c2-60 {
  color: var(--color--c2-60);
}

.text-small {
  font-size: .875rem;
  line-height: 150%;
}

.link-c3 {
  color: var(--color--c3);
  text-decoration: none;
}

.link-c3:hover {
  text-decoration: underline;
}

.max-width-regular {
  width: 100%;
  max-width: 74rem;
  margin-left: auto;
  margin-right: auto;
}

.spacer-large {
  width: 100%;
  height: 8rem;
}

.nav__button {
  background-color: var(--color--c1);
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  transition: background-color .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.nav__button:hover {
  background-color: var(--color--c1-75);
}

.top-bar {
  z-index: 20;
  padding-left: var(--padding--pd-06);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  margin-left: 5rem;
  display: flex;
  position: relative;
}

.brand__asset {
  object-fit: contain;
  height: 2rem;
}

.burger__icon {
  object-fit: contain;
  width: 1.5rem;
}

.overview__stats {
  padding: var(--padding--pd-06);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  background-color: var(--color--c1-04);
  border-radius: 2rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 54vw;
  max-height: 43rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.text-wrapper.for-statement-home {
  grid-column-gap: 52px;
  grid-row-gap: 52px;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 64.75rem;
  display: flex;
}

.text-wrapper.for-overview {
  max-width: 26rem;
}

.text-wrapper.for-statement-careers {
  max-width: 66.75rem;
}

.text-wrapper.for-statement-about {
  max-width: 64.75rem;
}

.footer__content {
  padding-top: var(--padding--pd-06);
  padding-bottom: var(--padding--pd-06);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  display: flex;
}

.footer__main {
  flex-flow: column;
  display: flex;
}

.footer__img {
  object-fit: cover;
  width: 100%;
}

.footer__legal {
  padding-top: var(--padding--pd-06);
  padding-bottom: var(--padding--pd-06);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-bottom: 1px solid var(--color--c1-10);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer__contact {
  padding-top: var(--padding--pd-06);
  padding-bottom: var(--padding--pd-06);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  border-top: 1px solid var(--color--c1-10);
  border-bottom: 1px solid var(--color--c1-10);
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.footer__cta {
  padding-top: var(--padding--pd-06);
  padding-bottom: var(--padding--pd-06);
  border-top: 1px solid var(--color--c1-10);
  font-weight: 500;
}

.footer__nav {
  padding-top: var(--padding--pd-06);
  padding-bottom: var(--padding--pd-06);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__contact-item {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer__contact-item.align-right {
  justify-content: flex-start;
  align-items: flex-end;
}

.footer__nav-link {
  padding-right: var(--padding--pd-09);
  padding-left: var(--padding--pd-09);
  border: 1px solid var(--color--c1-10);
  border-radius: 6rem;
  justify-content: center;
  align-items: center;
  height: 6rem;
  transition: background-color .2s cubic-bezier(.39, .575, .565, 1);
  display: inline-flex;
}

.footer__nav-link:hover {
  background-color: var(--color--c1-04);
}

.overview__content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.absolute-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.huge-card__flex {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.button {
  padding-right: var(--padding--pd-09);
  padding-left: var(--padding--pd-09);
  background-color: var(--color--c1);
  color: var(--color--c2);
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  height: 3rem;
  transition: background-color .2s cubic-bezier(.39, .575, .565, 1);
  display: inline-flex;
}

.button:hover {
  background-color: var(--color--c3);
}

.card-a {
  padding: var(--padding--pd-06);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  border: 1px solid var(--color--c3);
  background-color: var(--color--c1-40);
  border-radius: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.card-a.c1-04 {
  background-color: var(--color--c1-04);
  border-style: none;
}

.card-a__bottom {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.overview__stats-cards {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  place-items: stretch stretch;
  display: grid;
  position: relative;
}

.card-b {
  padding: var(--padding--pd-06);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  background-color: var(--color--c1-04);
  border-radius: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.card-b__top {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.icon-regular {
  object-fit: contain;
  width: 1.25rem;
}

.overview__video {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.overview__card {
  padding: var(--padding--pd-06);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  border: .25rem solid var(--color--c1);
  border-radius: 2rem;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.projects__cms {
  width: 100%;
}

.projects__list {
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.empty-state {
  padding: var(--padding--pd-06);
  background-color: var(--color--c1-04);
  border-radius: .5rem;
}

.projects__item {
  width: 100%;
}

.projects__thumb {
  padding: var(--padding--pd-04);
  border-radius: 2rem;
  height: 36vw;
  max-height: 27rem;
  position: relative;
  overflow: hidden;
}

.thumbnail-project {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.tag {
  padding: var(--padding--pd-02) var(--padding--pd-04);
  background-color: var(--color--c2);
  border-radius: 4rem;
  display: inline-flex;
  position: relative;
}

.tag.c1-04 {
  background-color: var(--color--c1-04);
}

.projects__link {
  width: 100%;
}

.projects__title {
  padding: var(--padding--pd-02) var(--padding--pd-04);
  margin-top: .5rem;
}

.title-section {
  padding-top: var(--padding--pd-07);
  padding-bottom: var(--padding--pd-07);
  border-top: 1px solid var(--color--c1-10);
  width: 100%;
}

.title-section__arrow {
  margin-right: .5rem;
}

.projects__content {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.spacer-small {
  width: 100%;
  height: 3rem;
}

.button-outlined {
  padding-right: var(--padding--pd-09);
  padding-left: var(--padding--pd-09);
  border: 1px solid var(--color--c1-10);
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  min-width: 12rem;
  height: 5rem;
  transition: background-color .2s cubic-bezier(.39, .575, .565, 1);
  display: inline-flex;
}

.button-outlined:hover {
  background-color: var(--color--c1-04);
}

.overview__inner-cards {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.hero__content {
  padding: var(--padding--pd-06);
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  background-color: var(--color--c1);
  text-align: left;
  border-radius: 2rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54vw;
  max-height: 43rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.sectors__list {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.sectors__link {
  padding-right: var(--padding--pd-07);
  padding-left: var(--padding--pd-07);
  border: 1px solid var(--color--c1-10);
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  height: 4rem;
  transition: background-color .2s cubic-bezier(.39, .575, .565, 1);
  display: inline-flex;
}

.sectors__link:hover {
  background-color: var(--color--c1-04);
}

.sectors__link.w--current {
  background-color: var(--color--c3);
  color: var(--color--c2);
  border-style: none;
}

.sectors {
  padding-top: var(--padding--pd-07);
  padding-bottom: var(--padding--pd-07);
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.intro__careers-img {
  object-fit: cover;
  border-radius: 2rem;
  width: 100%;
  height: 40vw;
  max-height: 30rem;
}

.jobs__intro {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.jobs__items {
  border-top: 1px solid var(--color--c1-10);
}

.jobs__item {
  padding-top: var(--padding--pd-07);
  padding-bottom: var(--padding--pd-07);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid var(--color--c1-10);
  justify-content: space-between;
  align-items: center;
  transition: padding .4s cubic-bezier(.39, .575, .565, 1), background-color .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.jobs__item:hover {
  padding-right: var(--padding--pd-04);
  padding-left: var(--padding--pd-04);
  background-color: var(--color--c1-04);
}

._404 {
  padding-top: var(--padding--pd-10);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  flex-flow: column;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

._404__content {
  padding: var(--padding--pd-06);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--color--c1-10);
  text-align: center;
  border-radius: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1.5rem;
  display: flex;
}

.button-regular {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  color: #fff;
  background-color: #0057ff;
  border-radius: 4rem;
  flex: none;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 3rem;
  padding: .5rem 1.5rem;
  font-weight: 500;
  display: inline-flex;
}

._404-image {
  padding: var(--padding--pd-06);
  width: 100%;
}

.cover-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cover-image.rounded {
  border-radius: 2rem;
}

.max-width-small {
  width: 100%;
  max-width: 43rem;
  margin-left: auto;
  margin-right: auto;
}

.legal__content {
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.button-outlined-small {
  padding-right: var(--padding--pd-04);
  padding-left: var(--padding--pd-04);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  border: 1px solid var(--color--c1-10);
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  min-width: auto;
  height: 3rem;
  display: inline-flex;
}

.article__top {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-flow: column;
  display: flex;
}

.article__content {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.article__img-wrap {
  padding: var(--padding--pd-04);
  border-radius: 2rem;
  height: 27rem;
  position: relative;
  overflow: hidden;
}

.article__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.articles__list {
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.articles__item {
  width: 100%;
}

.articles__link {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.articles__thumb {
  padding: var(--padding--pd-04);
  border-radius: 2rem;
  width: 100%;
  height: 24vw;
  max-height: 18rem;
  position: relative;
  overflow: hidden;
}

.thumbnail-articles {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.articles__title {
  padding: var(--padding--pd-02) var(--padding--pd-04);
}

.youtube-wrapper {
  border-radius: 2rem;
  overflow: hidden;
}

.leadership__items {
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.leadership__item {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.leadership__image {
  object-fit: cover;
  border-radius: 2rem;
  width: 100%;
  height: 24vw;
  max-height: 18rem;
}

.leadership__label {
  padding-right: var(--padding--pd-04);
  padding-left: var(--padding--pd-04);
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.card-c {
  padding: var(--padding--pd-06);
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: var(--color--c1-04);
  text-align: center;
  border-radius: 2rem;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 14rem;
  display: flex;
}

.company__img {
  object-fit: cover;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.company__cards-c {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.company__content {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.company__cards-a {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.mission__content {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-start;
  display: grid;
}

.mission__cards {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 60px;
  display: grid;
}

.mission__title {
  max-width: 24rem;
}

.spacer-regular {
  width: 100%;
  height: 5rem;
}

.project__info-text {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  color: var(--color--c1-75);
  flex-flow: column;
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.project__info-grid {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.project__intro-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr minmax(auto, 45rem);
  grid-auto-columns: 1fr;
  display: grid;
}

.project__overview {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.project__intro-text {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  color: var(--color--c1-75);
  flex-flow: column;
  display: flex;
}

.project__overview-item {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.project-image {
  object-fit: cover;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.nav__link {
  padding-right: var(--padding--pd-06);
  padding-left: var(--padding--pd-06);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  border-bottom: 1px solid var(--color--c2-20);
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  transition: padding .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.nav__link:hover {
  padding-left: var(--padding--pd-07);
}

.nav__content {
  background-color: var(--color--c3);
  border-radius: 2rem;
  flex-flow: column;
  width: auto;
  min-width: 25rem;
  display: flex;
  overflow: auto;
}

.close-nav {
  background-color: var(--color--c2);
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  transition: opacity .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.close-nav:hover {
  opacity: .8;
}

.nav__social {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.nav {
  z-index: 200;
  padding: var(--padding--pd-04) var(--padding--pd-06) var(--padding--pd-06);
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 90rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: fixed;
  inset: 0%;
  overflow: auto;
}

.nav__social-link {
  border-right: 1px solid var(--color--c2-20);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  display: flex;
}

.nav__social-link.no-border {
  border-right-style: none;
}

.nav__main {
  border-top: 1px solid var(--color--c2-20);
}

.nav__head {
  padding: var(--padding--pd-04) var(--padding--pd-06);
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-head__button {
  padding-right: var(--padding--pd-04);
  padding-left: var(--padding--pd-04);
  background-color: var(--color--c1);
  color: var(--color--c2);
  border-radius: 4rem;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  transition: color .2s cubic-bezier(.39, .575, .565, 1), background-color .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.nav-head__button:hover {
  background-color: var(--color--c2);
  color: var(--color--c1);
}

.social-icon {
  object-fit: contain;
  width: 2.7rem;
}

.icon-small {
  object-fit: contain;
  width: 1rem;
}

.link-block {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image {
  border-radius: 20px;
}

.heading {
  text-align: center;
}

.image-2, .image-3 {
  width: auto;
  max-width: none;
  height: 90px;
}

.div-block {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.div-block-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.image-4 {
  height: 90px;
}

.carousel {
  flex-direction: row;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.logo-carousel-wrap {
  backface-visibility: hidden;
  background-color: #0000;
  flex: none;
  width: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  transform: perspective(1px);
}

.logo-carousel {
  grid-column-gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  overflow: hidden;
}

.logo-carousel-item {
  flex: none;
  padding: 1rem;
}

.logo-link {
  filter: grayscale();
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo-carousel-clone {
  grid-column-gap: 1rem;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  overflow: hidden;
}

.copy-animation {
  height: 0;
}

.small-instructions {
  font-size: 1rem;
}

.instructions {
  color: #33333387;
  text-align: center;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: Inconsolata, monospace;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2em;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .internal-side {
    width: 100%;
    height: auto;
  }

  .internal-main {
    padding-top: 0;
  }

  .internal-side__items {
    display: none;
  }

  .internal-side__item {
    justify-content: center;
  }

  .internal-side__item.for-typography {
    border-right: 1px solid var(--primary-color-01--p1-10\<deleted\|variable-119de0b6\>);
    border-left: 1px solid var(--primary-color-01--p1-10\<deleted\|variable-119de0b6\>);
  }

  .internal-side__bottom {
    display: none;
  }

  .internal-flex {
    flex-direction: column;
  }

  .internal-card__main {
    padding-left: 24px;
    padding-right: 24px;
  }

  .heading-huge {
    font-size: 3.5rem;
  }

  .heading-xlarge {
    font-size: 2.5rem;
  }

  .nav__button {
    transition-property: none;
  }

  .nav__button:hover {
    background-color: var(--color--c1);
  }

  .top-bar {
    padding-left: var(--padding--pd-02);
  }

  .overview__stats {
    height: auto;
    max-height: none;
  }

  .footer__contact {
    grid-column-gap: 1.5rem;
    grid-row-gap: 3rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .footer__contact-item.align-right {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer__nav-link {
    height: 5rem;
    transition-property: none;
  }

  .footer__nav-link:hover {
    background-color: #0000;
  }

  .overview__content {
    grid-template-columns: 1fr;
  }

  .button {
    transition-property: none;
  }

  .button:hover {
    background-color: var(--color--c1);
  }

  .overview__stats-cards {
    grid-template-columns: 1fr 1fr;
  }

  .overview__video {
    height: 64vw;
  }

  .button-outlined {
    transition-property: none;
  }

  .button-outlined:hover {
    background-color: #0000;
  }

  .overview__inner-cards {
    grid-template-columns: 1fr 1fr;
  }

  .hero__content {
    height: 100vw;
    max-height: none;
  }

  .sectors__link {
    transition-property: none;
  }

  .sectors__link:hover {
    background-color: #0000;
  }

  .intro__careers-img {
    height: 64vw;
    max-height: none;
  }

  .jobs__item {
    transition-property: none;
  }

  .jobs__item:hover {
    background-color: #0000;
  }

  ._404-image {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .articles__list {
    grid-template-columns: 1fr 1fr;
  }

  .articles__thumb {
    height: 32vw;
    max-height: none;
  }

  .leadership__items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .leadership__item {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
  }

  .leadership__image {
    height: 32vw;
    max-height: none;
  }

  .company__content {
    flex-flow: column;
    display: flex;
  }

  .mission__content {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-flow: column;
    display: flex;
  }

  .mission__title {
    max-width: 32rem;
  }

  .project__info-grid {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .project__intro-content {
    grid-row-gap: 3rem;
    flex-flow: column;
    display: flex;
  }

  .project__overview {
    grid-column-gap: 1.5rem;
    grid-row-gap: 3rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .close-nav {
    transition-property: none;
  }

  .close-nav:hover {
    opacity: 1;
  }

  .nav-head__button {
    transition-property: none;
  }

  .nav-head__button:hover {
    background-color: var(--color--c1);
    color: var(--color--c2);
  }
}

@media screen and (max-width: 767px) {
  h1 {
    letter-spacing: 0;
    font-size: 2.5rem;
  }

  h2 {
    letter-spacing: 0;
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  .internal-bottom {
    justify-content: center;
  }

  .internal-side__item {
    padding-left: 16px;
    padding-right: 16px;
  }

  .internal-bottom__links {
    display: none;
  }

  .internal-cards.for-colors {
    grid-column-gap: 0px;
    display: flex;
  }

  .internal-card__main {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .heading-huge {
    letter-spacing: 0;
    font-size: 2.5rem;
  }

  .heading-xlarge {
    letter-spacing: 0;
    font-size: 1.75rem;
  }

  .heading-large {
    font-size: 1.5rem;
  }

  .heading-medium {
    font-size: 1.25rem;
  }

  .heading-small {
    font-size: 1.125rem;
  }

  .rich-text p {
    margin-bottom: .75rem;
    font-size: .875rem;
  }

  .rich-text h2 {
    margin-top: 1.5rem;
    margin-bottom: .75rem;
    font-size: 1.5rem;
  }

  .rich-text h3 {
    margin-top: 1.5rem;
    margin-bottom: .75rem;
    font-size: 1.25rem;
  }

  .rich-text figure {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .rich-text h5 {
    margin-top: 1.5rem;
    margin-bottom: .75rem;
    font-size: 1rem;
  }

  .rich-text h6 {
    margin-top: 1.5rem;
    margin-bottom: .75rem;
    font-size: .875rem;
  }

  .rich-text ul, .rich-text ol {
    font-size: .875rem;
  }

  .rich-text blockquote {
    padding: var(--padding--pd-07);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 140%;
  }

  .rich-text h4 {
    margin-top: 1.5rem;
    margin-bottom: .75rem;
    font-size: 1.125rem;
  }

  .rich-text h1 {
    margin-top: 1.5rem;
    margin-bottom: .75rem;
    font-size: 1.5rem;
  }

  .rich-text.for-legal {
    margin-top: 2rem;
  }

  .open-nav {
    padding-left: var(--padding--pd-04);
    height: 5rem;
  }

  .container {
    padding-right: var(--padding--pd-04);
    padding-left: var(--padding--pd-04);
  }

  .sections.top-padding {
    padding-top: var(--padding--pd-10);
  }

  .text-huge {
    letter-spacing: 0;
    font-size: 2rem;
  }

  .text-xlarge {
    font-size: 1.25rem;
  }

  .text-large {
    font-size: 1.125rem;
  }

  .text-regular.hidden-phone {
    display: none;
  }

  .spacer-large {
    height: 5rem;
  }

  .nav__button {
    width: 3rem;
    height: 3rem;
  }

  .top-bar {
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    margin-left: 4rem;
  }

  .brand__asset {
    height: 1.75rem;
  }

  .overview__stats {
    padding: var(--padding--pd-04);
  }

  .footer__legal {
    padding-top: var(--padding--pd-04);
    padding-bottom: var(--padding--pd-04);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .footer__contact {
    grid-row-gap: 1.5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .footer__nav {
    grid-column-gap: .25rem;
    grid-row-gap: .25rem;
  }

  .footer__nav-link {
    padding-right: var(--padding--pd-07);
    padding-left: var(--padding--pd-07);
    height: 4rem;
  }

  .overview__content {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .huge-card__flex {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .button {
    padding-right: var(--padding--pd-07);
    padding-left: var(--padding--pd-07);
    min-width: 10rem;
    height: 4rem;
  }

  .card-a {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .overview__stats-cards {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .card-b {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .overview__card {
    padding: var(--padding--pd-04);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
  }

  .projects__list {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    display: flex;
  }

  .projects__thumb {
    height: 56vw;
    max-height: none;
  }

  .title-section {
    padding-top: var(--padding--pd-06);
    padding-bottom: var(--padding--pd-06);
  }

  .spacer-small {
    height: 2rem;
  }

  .button-outlined {
    padding-right: var(--padding--pd-07);
    padding-left: var(--padding--pd-07);
    min-width: 10rem;
    height: 4rem;
  }

  .overview__inner-cards {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    display: flex;
  }

  .hero__content {
    padding: var(--padding--pd-04);
  }

  .sectors__link {
    padding-right: var(--padding--pd-04);
    padding-left: var(--padding--pd-04);
    height: 3rem;
  }

  .sectors {
    padding-top: var(--padding--pd-06);
    padding-bottom: var(--padding--pd-06);
  }

  .intro__careers-img {
    height: 80vw;
  }

  .jobs__intro {
    grid-row-gap: 1rem;
    flex-flow: wrap;
  }

  .jobs__item {
    padding-top: var(--padding--pd-06);
    padding-bottom: var(--padding--pd-06);
  }

  ._404__content {
    padding: var(--padding--pd-04);
    margin-left: 1rem;
  }

  ._404-image {
    padding: var(--padding--pd-04);
  }

  .button-outlined-small {
    padding-right: var(--padding--pd-04);
    padding-left: var(--padding--pd-04);
    height: 3rem;
  }

  .article__top {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .article__content {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  .article__img-wrap {
    height: 20rem;
  }

  .articles__list {
    grid-column-gap: .5rem;
    grid-row-gap: 1.5rem;
  }

  .leadership__items {
    grid-column-gap: .5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .leadership__image {
    height: 44vw;
  }

  .card-c {
    min-height: 10rem;
  }

  .company__cards-c {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
  }

  .company__cards-a, .mission__cards {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    display: flex;
  }

  .spacer-regular {
    height: 4rem;
  }

  .project__info-grid {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .project__intro-content {
    grid-row-gap: 2rem;
  }

  .nav__content {
    width: 100%;
    min-width: 0;
  }

  .nav {
    padding: var(--padding--pd-02) var(--padding--pd-04) var(--padding--pd-04);
  }
}

@media screen and (max-width: 479px) {
  .internal-bottom__links {
    display: none;
  }

  .footer__legal {
    grid-row-gap: .5rem;
    flex-flow: wrap;
  }

  .projects__thumb {
    height: 64vw;
  }

  .hero__content {
    height: 130vw;
  }

  .jobs__item {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  ._404__content {
    text-align: left;
  }

  .articles__list {
    flex-flow: column;
    display: flex;
  }

  .articles__thumb {
    height: 64vw;
  }

  .leadership__items {
    flex-flow: column;
    display: flex;
  }

  .leadership__image {
    height: 84vw;
  }

  .project__info-grid {
    flex-flow: column;
    display: flex;
  }

  .project__overview {
    grid-row-gap: 1.5rem;
    display: flex;
  }

  .project-image {
    height: 100vw;
  }

  .nav__link {
    padding-right: var(--padding--pd-04);
    padding-left: var(--padding--pd-04);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .nav__social {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }

  .nav__head {
    padding-right: var(--padding--pd-04);
    padding-left: var(--padding--pd-04);
  }

  .social-icon {
    width: 1.25rem;
  }

  .small-instructions {
    line-height: 1em;
  }
}

#w-node-_94dd0adb-864f-a5d2-45ab-cb5c21f7142b-811f1de0, #w-node-c37e2486-2253-86f6-c9f4-3f2c6db04a65-811f1de0, #w-node-_61e1d0e5-9764-a6bc-f7e6-bb100c2b9e9b-811f1de0, #w-node-_9db98f49-35ac-4782-daae-337a8f000596-811f1de0, #w-node-_7a884cca-db23-c3ff-7757-2ac2e87f94b6-811f1de0, #w-node-_10b290a1-a907-f9b2-109c-5aed61eaa2de-811f1de0 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  place-self: auto;
}


@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'InterTight';
  src: url('../fonts/InterTight-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}